.login-button {
    margin-left: 95%;
    font-size: 17px;
    width: 31%;
    background-color: green;
    height: 33px;
    color: white;
}

.button-register {
    height: 28px;
    width: 87px;
    color: #fff;
}

.button-class {
    margin-left: 47%;
    margin-top: 62%;
    width: 88px;
    height: 33px;
    font-size: 18px;
    background: green;
}

.new-button {
    color: white;
    font-size: 17px;
    width: 31%;
    margin-left: 20px;
    /* margin-top: 27px; */
    /* font-size: 15px; */
    background-color: green;
    /* width: 86px; */
    height: 33px;
    color: white;
}