<!-- <button mat-button (click)='displayingData()'>Display</button> -->
<h2 class="header"> USER DETAILS
    <button class="login-button" mat-button (click)='Logout()'>Logout</button> </h2>



<div class="overflow">

    <table mat-table id="customers">
        <thead>
            <tr>
                <th>Username</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Confirm Password</th>
                <th>Contact Number</th>
                <th> Date of Birth</th>
                <th> Gender </th>
                <th> House Number</th>
                <th> Street </th>
                <th> City </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of res; index as i;" class="hover-highlight">
                <td>{{ item.userName }}</td>
                <td>{{ item.fullName }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.confirmPassword }}</td>
                <td>{{ item.contactno }}</td>
                <td>{{ item.dob| date : 'dd/MM/yyyy' }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.houseno }}</td>
                <td>{{ item.street }}</td>
                <td>{{ item.city }}</td>

                <td><button (click)="editDialog(i)" mat-button matTooltip="Edit"><mat-icon style="color: green;">create</mat-icon></button>
                    <button (click)="openDialog(i)" mat-button matTooltip="Delete"><mat-icon style="color:red;">delete</mat-icon></button>
                </td>

                <!-- <td>
                        <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false; cancel()" mat-button matTooltip="Cancel"><mat-icon style="color: black;">cancel</mat-icon></button>
                        <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" (click)="saveSegment()" type="submit" mat-button matTooltip="Save"><mat-icon style="color: blue;">save</mat-icon></button>
                        <button *ngIf="i != enableEditIndex || enableEditIndex == null" (click)="enableEditMethod($event, i)" mat-button matTooltip="Edit"><mat-icon style="color: green;">create</mat-icon></button>
                        <button *ngIf="i != enableEditIndex || enableEditIndex == null" (click)="delete(i)" mat-button matTooltip="Delete"><mat-icon style="color:red;">delete</mat-icon></button>
   
                    </td> -->


            </tr>
        </tbody>

    </table>


</div>